*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #F3F3F3;
    background-color: #0D0D0D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline {
    font-family: 'Bungee', cursive;
    color: #962D3E;
}

.container {
    display: flex;
}

.new-game, 
.join-game {
    flex-direction: column;
    margin: 3rem;
}

.btn {
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .5em 1em;
    border: none;
    outline: none;
    margin: 1em;
    border-radius: 100vmax;
    background-color: #348899;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #247383;
}

.player {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cells-container {
    width: 500px;
    flex-wrap: wrap;
}

.cell {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #F3F3F3;
    border: 1px solid #962D3E;
}

[data-owner="color0"],
.color0 {
    background-color: #F2798F;
}

[data-owner="color1"],
.color1 {
    background-color: #6BA7BF;
}

[data-owner="color2"],
.color2 {
    background-color: #8BBF73;
}

[data-owner="color3"],
.color3 {
    background-color: #DE44F2;
}

[data-owner="color4"],
.color4 {
    background-color: #F25835;
}